{% extends 'base.html' %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Account Overview</h1>
{% if messages %}
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <h2 style='color:red;'> {{message}}</h2>
          {% else %}
          <h2 style='color:green;'> {{message}}</h2>
          {% endif %}
          {% endfor %}
          {% endif %}
<!-- Top Row -->
<div class="row">

  <div class="col-lg-6">
    <!-- Balance Sheet Column -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Balance Sheet</h6>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Account Type</th>
              <th>Account Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tr>
            <td>Assets</td>
            <td></td>
            <td></td>
          </tr>
          {% for instance in fa_list %}
          {% if instance.type == "Assets" %}
          <tr>
            <td></td>
            <td><a href='{{ instance.get_absolute_url }}'>{{ instance.name }}</a></td>
            <td>${{ instance.value }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          <tr>
            <td>Liabilities</td>
            <td></td>
            <td></td>
          </tr>
          {% for instance in fa_list %}
          {% if instance.type == "Liabilities" %}
          <tr>
            <td></td>
            <td><a href='{{ instance.get_absolute_url }}'>{{ instance.name }}</a></td>
            <td>$({{ instance.value }})</td>
          </tr>
          {% endif %}
          {% endfor %}
          <tfoot>
            <tr>
              <th>Net Worth</th>
              <th></th>
              <th>${{ networth }}</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <!-- Budget Goal Progress Bar -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Monthly Budget Goal</h6>
      </div>
      <div class="card-body">
        {% if income < 0 %}
        <h2>Please record income for this month.</h2>
        {% else %}
        <h4>Based on this month's income</h4>
        <h4 class="small font-weight-bold">The maximum you can spend is: ${{income}}<span class="float-right">{{progress}}%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{progress}}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Amount Spent: ${{expenditure}}<span class="float-right">Amount Saved: ${{saved}}</span></h4>
        {% endif %}
      </div>
    </div>

    <!-- Current Month Income -->
    <div class="card {% if cashflow < 0 %} border-left-danger {% elif cashflow == 0 %} border-left-primary {% else %} border-left-success {% endif %} shadow mb-4 py-2">
      <!-- replace border-left-primary with border-left-danger(red) border-left-success(green) -->
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold {% if cashflow < 0 %} text-danger {% elif cashflow == 0 %} text-primary {% else %} text-success {% endif %} text-uppercase mb-1">
              <!-- replace text-primary with text-danger(red) text-success(green) -->
              This Month ({{currmonth}})
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">${{ cashflow }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-body text-center">
            <button class="btn btn-primary btn-block" type="button" data-toggle="modal"
              data-target="#exampleModalLg">Add New Financial Account</button>
            <div class="modal fade" id="exampleModalLg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add New Financial Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method='POST'>
                      {% csrf_token %}
                      <div class="form-group">
                        <select class="form-control form-control-lg" name="acctType">
                          <option value="" disabled selected>Account Type</option>
                          <option>Assets</option>
                          <option>Liabilities</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="acctName"
                          placeholder="Account Name" name="acctName">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="acctValue"
                          placeholder="Account Value" name="acctValue">
                      </div>
                      <button class="btn btn-primary" type="submit" name="addNewAcct" value="1">Add New Financial Account</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-body text-center">
            <button class="btn btn-primary btn-block" type="button" data-toggle="modal"
              data-target="#transactionModal">Add New Transaction</button>
            <div class="modal fade" id="transactionModal" tabindex="-1" role="dialog"
              aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add New Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="" method='POST'>
                      {% csrf_token %}
                      <div class="form-group">
                        <select class="form-control form-control-lg" name="transactionType" required>
                          <option value="" disabled selected>Transaction Type</option>
                          <option>Income</option>
                          <option>Expense</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <select class="form-control form-control-lg" name="transactionAcct" required>
                          <option value="" disabled selected>Transaction Account</option>
                          {% for instance in fa_list %}
                            {% if instance.type == "Assets" %}
                            <option>{{ instance.name }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <input type="date" class="form-control form-control-lg" id="transactionDate"
                          name="transactionDate" aria-describedby="emailHelp" placeholder="Date" required>
                      </div>
                      <div class="form-group">
                        <select class="form-control form-control-lg" name="transactionCategory" required>
                          <option value="" disabled selected>Category</option>
                          <option>Salary</option>
                          <option>Dividends</option>
                          <option>Interest</option>
                          <option>Food</option>
                          <option>Housing</option>
                          <option>Transportation</option>
                          <option>Utilities</option>
                          <option>Insurance</option>
                          <option>Medical</option>
                          <option>Personal</option>
                          <option>Recreational</option>
                          <option>Miscellaneous</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="transactionName"
                          name="transactionName" placeholder="Transaction Name" required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="transactionAmt"
                          name="transactionAmt" placeholder="Transaction Amount" required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg" id="transactionRemarks"
                          name="transactionRemarks" placeholder="Remarks" required>
                      </div>
                      <button class="btn btn-primary" type="submit" name="addNewTrans" value="1">Add New Transaction</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-body text-center">
            <a href="/transactions">
              <button class="btn btn-primary btn-block" type="button" data-target="#exampleModalLg">View All
                Transactions</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- transaction history -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Recent Transaction History</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          {% if object_list %}
          <table class="table table-bordered" id="table1" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Transaction Account</th>
                <th>Transaction Name</th>
                <th>Remarks</th>
                <th>Category</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for instance in object_list|slice:":10" %}
                <tr>
                    <td>{{ instance.date }} </td>
                    <td>{{ instance.transaction_type }}</td>
                    <td>{{ instance.transaction_acct.name }}</td>
                    <td><a href='{{ instance.get_absolute_url }}'> {{ instance.transaction_name }} </a></td>
                    <td>{{ instance.remarks }} </td>
                    <td>{{ instance.category }} </td>
                    <td {% if instance.transaction_type == 'Income' %}style='color:green;'{% else %}style='color:red;'{% endif %}>{{ instance.amount }} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <h1>No Transactions Recorded</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}