{% extends 'base.html' %}
{% block content %} 
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Transactions</h1>
<!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
        href="https://datatables.net">official DataTables documentation</a>.</p>-->

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Transaction History</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% if object_list %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Date</th>
                      <th>Transaction Name</th>
                      <th>Remarks</th>
                      <th>Category</th>
                      <th>Amount</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th>Date</th>
                      <th>Transaction Name</th>
                      <th>Remarks</th>
                      <th>Category</th>
                      <th>Amount</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for instance in object_list %}
                        <tr>
                            <td>{{ instance.date }} </td>
                            <td><a href='{{ instance.get_absolute_url }}'> {{ instance.transaction_name }} </a></td>
                            <td>{{ instance.remarks }} </td>
                            <td>{{ instance.category }} </td>
                            <td>{{ instance.amount }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h1>No Transactions Recorded</h1>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}